@use "./variables" as *;

.about {
    .about__title {
        font-family: $primary-font;
        color: $text-color;
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
    }
    .about__image {
        // position: absolute;
        width: 20rem;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding: 1rem;
    }
    .about__paragraph {
        font-family: $secondary-font;
        color: $text-color-secondary;
        font-size: 1rem;
        padding: 1rem;
    }


    @media screen and (min-width: 1024px) {
        margin: 3rem 11.25rem;
        display: grid;
        grid-template-areas:
        "image title"
        "image text";
        grid-gap: 1rem;

        .about__image {
            width: 30rem;
            grid-area: image;
        }
        .about__text {
            grid-area: text;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .about__title {
            grid-area: title;
            font-size: 3rem;
            text-align: left;
            padding: 10rem 0 0 10rem;
        }
        .about__paragraph {
            grid-area: text;
            text-align: justify;
            padding: 0 0 0 10rem;
        }
    
}

}