@use "./variables" as *;

.about {
    .about__title {
        font-family: $primary-font;
        color: $text-color;
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
    }
    .about__image {
        // position: absolute;
        width: 20rem;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding: 1rem;
    }
    .about__paragraph {
        font-family: $secondary-font;
        color: $text-color-secondary;
        font-size: 1rem;
        padding: 1rem;
    }
}