@use "./variables" as *;

.about {
    display: flex;
    flex-direction: column;

    .about__title {
        font-family: $primary-font;
        color: $text-color;
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
    }

    .about__image {
        width: 20rem;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border-radius: 2rem;
    }

    .about__paragraph {
        font-family: $secondary-font;
        color: $text-color-secondary;
        font-size: 1rem;
        padding: 1rem;

        a {
            text-decoration: none;
            color: $text-color;
        }
    }

}

@media screen and (min-width: 1024px) {
    .about {
        margin: 3rem 12rem;
        display: grid;
        grid-template-areas:
            "title image"
            "text image";

        border-style: none none none solid;
        border-width: 1.5rem;
        border-color: $text-color;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;

        .about__title {
            font-size: 3rem;
            grid-area: title;
            text-align: center;
        }

        .about__paragraph {
            text-align: justify;
            grid-area: text;
            margin: 0 0.25rem;
        }

        .about__image {
            height: inherit;
            // width: inherit;
            // align-self: center;
            // border-radius: 3rem;
            grid-area: image;
            padding: 0rem;
            border-top-right-radius: 1rem;
            border-top-left-radius: 0rem;
            border-bottom-right-radius: 1rem;
            border-bottom-left-radius: 0rem;

        }
    }
}