@use "./variables" as *;

.intro {
    padding-top: 1rem;
    .intro__name {
        text-align: left;
        font-family: $primary-font;
        font-size: 1.25rem;
        color: $text-color-secondary;
        padding: 1rem;
    }
    .intro__occupation {
        text-align: left;
        font-family: $primary-font;
        font-size: 3rem;
        color: $text-color;
        padding: 1rem;
    }
    .intro__image {
        display: none;

    }

@media screen and (min-width: 1024px) {
    .intro__image {
        display: unset;
    }
        
    margin: 3rem 11.5rem;
    display: grid;
        grid-template-areas:
        "name image"
        "occupation image";
        grid-gap: 1rem;

    .intro {
        display: grid;
        grid-template-areas:
        "name image"
        "occupation image";
        grid-gap: 1rem;
    }
    
    .intro__image {
        grid-area: image;
    }

    .intro__name {
        grid-area: name;
        text-align: start;
        display: flex;
        align-items: flex-end;
        
    }

    .intro__occupation {
        grid-area: occupation;
    }


}
}




//     header {
//         display: grid;
//         grid-template-areas:
//             "name image"
//             "occupation image";
//         grid-gap: 1rem;
//     }

//     .intro__image {
//         display: unset;
//         grid-area: image;
//     }
//     .intro__name {
//         grid-area: name;
//     }
//     .intro__occupation {
//         grid-area: occupation;
//     }
    
// }


