@use "./variables" as *;

.nav-bar {
    text-align: center;
    font-family: $secondary-font;
    height: 3rem;
    margin: 3rem 9rem;
    display: none;
}



@media screen and (min-width: 1024px) {
    .nav-bar {
        display: unset;
        display: grid;
        grid-template-columns: 10fr 3fr 3fr 3fr 3fr;

        .nav-bar__name {
            text-align: left;
            padding: 0.5rem;
            text-decoration: none;
            display: flex;
            justify-content: left;
            align-items: center;
            font-size: 1.5rem;
        }

        .nav-bar__home,
        .nav-bar__about,
        .nav-bar__projects {
            padding: 0.5rem;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
        }

        .nav-bar__home:hover,
        .nav-bar__about:hover,
        .nav-bar__projects:hover {
            color: $text-color;
        }

        .nav-bar__getInTouch {
            background-color: $foreground-color;
            color: black;
            font-size: 1.5rem;
            padding: 0.5rem;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-style: solid;
            border-color: $text-color;
            border-width: 0.2rem;
            border-radius: 0.25rem;
        }
    }
}