@use "./variables" as *;

// // .card-four,
// .card-five,
// .card-six {
//     display: none;
// }

.projects {
    .projects__title {
        font-family: $primary-font;
        color: $text-color;
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
    }


    .card-one,
    .card-two,
    .card-three,
    .card-four {
        // .card-five,
        // .card-six {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: $foreground-color;
        padding: 1rem;
        margin: 1rem;
        border-radius: 0.75rem;
        height: 35rem;

    }

    .card__image {
        width: 90%;
        aspect-ratio: 1/1;
        object-fit: contain;
    }

    .card__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .card__image-descriptor {
        font-size: 1rem;
        font-family: $primary-font;
    }

    .card__header {
        font-size: 2rem;
        font-family: $primary-font;
        color: $text-color;
    }

    .card__paragraph {
        font-size: 1rem;
        font-family: $secondary-font;
        color: $text-color-secondary;
        padding: 0.5rem;
    }

    .card__button {
        font-size: 1.25rem;
        font-weight: bold;
        font-family: $primary-font;
        color: $text-color;
        text-align: start;
        background-color: $background-color;
        border-style: solid;
        border-radius: 0.75rem;
        border-color: $text-color;
        border-width: 0.3rem;
        text-decoration: none;

        img {
            padding: 0.2rem 0 0 0;
        }
    }
}


@media screen and (min-width: 1024px) {
    .projects {
        margin: 4rem 1rem;


        .projects__title {
            font-size: 3rem;
            margin: 0 0 2rem 0;
        }


        // .card-four,
        // .card-five,
        // .card-six {
        //     display: block;
        // }

        .projects__cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }


        .card__image {
            width: 80%;
            aspect-ratio: 1/1;
            object-fit: contain;
        }


        .card-one,
        .card-two,
        .card-three,
        .card-four {
            // .card-five,
            // .card-six {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: $foreground-color;
            padding: 1rem;
            margin: 1rem;
            border-radius: 0.75rem;
            height: 37rem;
        }

        .card__content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
        }

        .card__buttons {
            display: flex;
            gap: 0.75rem;
            margin-top: 0.5rem;
            // width: 100%;
        }

        .card-one:hover,
        .card-two:hover,
        .card-three:hover,
        .card-four:hover {
            // .card-five:hover,
            // .card-six:hover {
            box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem $text-color;
        }

    }
}