@use "./variables" as *;

.projects__secondary {
    display: none;
}

.projects {
    .projects__title {
        font-family: $primary-font;
        color: $text-color;
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $foreground-color;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.75rem;

    .card__image {
        width: 100%;
    }

    .card__image-descriptor {
        font-size: 1rem;
        font-family: $primary-font;
    }

    .card__header {
        font-size: 2rem;
        font-family: $primary-font;
        color: $text-color;
    }

    .card__paragraph {
        font-size: 1rem;
        font-family: $secondary-font;
        color: $text-color-secondary;
        padding: 0.5rem;
    }

    // #buttons {
    //     // display: flex;
    //     // align-items: center;
    //     // text-align:start;
    //     // align-self: center;
    //     // display: block;
    //     // margin-top: auto;
    //     // margin-bottom: auto;
    // }
    .card__button, .card__button--secondary {
        // display: flex;
        // align-items: center;
        // text-align: center;
        // flex-direction: row;
        // justify-content: center;
        // flex-basis: auto;
        font-size: 1.25rem;
        font-weight: bold;
        font-family: $primary-font;
        color: $text-color;
        background-color: $background-color;
        border-radius: 0.75rem;
        border-color: $text-color;
        border-width: 0.3rem;
        gap: 0.5rem;
        padding: 0.3rem;
        

    }

@media screen and (min-width: 1024px) {
    

    #projects__secondary {
        display: unset;
    }

    
}

}

