@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

$text-color: #119539;
$text-color-secondary: rgb(47, 47, 47);
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Hind', sans-serif;
$background-color: white;
$foreground-color: #bcffd0;

