@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Hind', sans-serif;;
$text-color: #119539;
$text-color-secondary: rgba(169, 169, 169, 0.074);
$background-color: white;
$foreground-color: #bcffd0;

