@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding: 2px;
}

.nav-bar {
  text-align: center;
  font-family: "Hind", sans-serif;
  height: 3rem;
  margin: 3rem 9rem;
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav-bar {
    display: unset;
    display: grid;
    grid-template-columns: 10fr 3fr 3fr 3fr 3fr;
    font-size: 20rem;
  }
  .nav-bar .nav-bar__name {
    text-align: left;
    padding: 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .nav-bar .nav-bar__home,
.nav-bar .nav-bar__about,
.nav-bar .nav-bar__projects {
    padding: 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-bar .nav-bar__getInTouch {
    background-color: #dbf3e3;
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #119539;
    border-width: 0.2rem;
    border-radius: 0.25rem;
  }
}
.about .about__title {
  font-family: "Montserrat", sans-serif;
  color: #119539;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}
.about .about__image {
  width: 20rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}
.about .about__paragraph {
  font-family: "Hind", sans-serif;
  color: rgb(47, 47, 47);
  font-size: 1rem;
  padding: 1rem;
}
@media screen and (min-width: 1024px) {
  .about {
    margin: 3rem 11.25rem;
    display: grid;
    grid-template-areas: "image title" "image text";
    grid-gap: 1rem;
  }
  .about .about__image {
    width: 30rem;
    grid-area: image;
  }
  .about .about__text {
    grid-area: text;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  .about .about__title {
    grid-area: title;
    font-size: 3rem;
    text-align: left;
    padding: 10rem 0 0 10rem;
  }
  .about .about__paragraph {
    grid-area: text;
    text-align: justify;
    padding: 0 0 0 10rem;
  }
}

.skills .skills__title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #119539;
  text-align: center;
  padding: 1rem;
}
.skills .skills__intro {
  color: rgb(47, 47, 47);
  font-family: "Hind", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}
.skills .skills__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  gap: 0.5rem;
  padding: 1rem;
}
.skills .skills__container p {
  color: #119539;
  text-align: center;
}
.skills .skills__container img {
  width: 3rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1024px) {
  .skills {
    display: unset;
  }
  .skills .skills__title {
    font-size: 3rem;
    text-align: center;
  }
  .skills .skills__intro {
    font-size: 1rem;
    width: 30.25rem;
    margin: auto;
  }
  .skills .skills__container {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: flex-end;
    gap: 1.5rem;
  }
}

.card--four,
.card--five,
.card--six {
  display: none;
}

.projects .projects__title {
  font-family: "Montserrat", sans-serif;
  color: #119539;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

.card--one,
.card--two,
.card--three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dbf3e3;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.75rem;
}

.card__image {
  width: 100%;
}

.card__image-descriptor {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.card__header {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #119539;
}

.card__paragraph {
  font-size: 1rem;
  font-family: "Hind", sans-serif;
  color: rgb(47, 47, 47);
  padding: 0.5rem;
}

.card__button, .card__button--secondary {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #119539;
  background-color: white;
  border-radius: 0.75rem;
  border-color: #119539;
  border-width: 0.3rem;
  gap: 0.5rem;
  padding: 0.3rem;
}

@media screen and (min-width: 1024px) {
  .projects {
    margin: 4rem 1rem;
  }
  .projects .projects__title {
    font-size: 3rem;
    margin: 0 0 2rem 0;
  }
  .card--four,
.card--five,
.card--six {
    display: block;
  }
  .card--one,
.card--two,
.card--three,
.card--four,
.card--five,
.card--six {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dbf3e3;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.75rem;
  }
  .projects__cards {
    display: grid;
    grid-template-areas: "one two three" "four five six";
    gap: 0.5rem;
  }
  .card--one {
    grid-area: one;
  }
  .card--two {
    grid-area: two;
  }
  .card--three {
    grid-area: three;
  }
  .card--four {
    grid-area: four;
  }
  .card--five {
    grid-area: five;
  }
  .card--six {
    grid-area: six;
  }
}
.intro {
  padding-top: 1rem;
}
.intro .intro__name {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  color: rgb(47, 47, 47);
  padding: 1rem;
}
.intro .intro__occupation {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #119539;
  padding: 1rem;
}
.intro .intro__image {
  display: none;
}
@media screen and (min-width: 1024px) {
  .intro {
    margin: 3rem 11.5rem;
    display: grid;
    grid-template-areas: "name image" "occupation image";
    grid-gap: 1rem;
  }
  .intro .intro__image {
    display: unset;
  }
  .intro .intro {
    display: grid;
    grid-template-areas: "name image" "occupation image";
  }
  .intro .intro__image {
    grid-area: image;
    width: 30rem;
  }
  .intro .intro__name {
    grid-area: name;
    text-align: start;
    display: flex;
    align-items: flex-end;
  }
  .intro .intro__occupation {
    grid-area: occupation;
    font-size: 4rem;
    padding: 0 15rem 0 0;
    text-align: left;
  }
}

.footer {
  width: 100vw;
  height: 13.5rem;
  padding: 3rem 6rem 3rem 6rem;
  background-color: black;
  align-items: center;
}
.footer .footer__images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .footer__email {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

@media screen and (min-width: 1024px) {
  .footer {
    display: grid;
    grid-template-areas: "email github linkedin cv";
    padding: 2rem 5rem;
  }
  .footer .footer__email {
    grid-area: email;
    text-align: left;
    width: 7fr;
  }
  .footer .footer__images--github {
    grid-area: github;
    width: 1fr;
  }
  .footer .footer__images--linkedin {
    grid-area: linkedin;
    width: 1fr;
  }
  .footer .footer__images--cv {
    grid-area: cv;
    width: 1fr;
  }
}/*# sourceMappingURL=style.css.map */