@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding: 2px;
}

.nav-bar {
  text-align: center;
  font-family: "Hind", sans-serif;
  height: 3rem;
  margin: 3rem 9rem;
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav-bar {
    display: unset;
    display: grid;
    grid-template-columns: 10fr 3fr 3fr 3fr 3fr;
    font-size: 20rem;
  }
  .nav-bar .nav-bar__name {
    text-align: left;
    padding: 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .nav-bar .nav-bar__home,
.nav-bar .nav-bar__about,
.nav-bar .nav-bar__projects {
    padding: 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-bar .nav-bar__getInTouch {
    background-color: #dbf3e3;
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #119539;
    border-width: 0.2rem;
    border-radius: 0.25rem;
  }
}
.about .about__title {
  font-family: "Montserrat", sans-serif;
  color: #119539;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}
.about .about__image {
  width: 20rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}
.about .about__paragraph {
  font-family: "Hind", sans-serif;
  color: rgb(47, 47, 47);
  font-size: 1rem;
  padding: 1rem;
}

.skills .skills__title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #119539;
  text-align: center;
  padding: 1rem;
}
.skills .skills__intro {
  color: rgb(47, 47, 47);
  font-family: "Hind", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}
.skills .skills__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  gap: 0.5rem;
  padding: 1rem;
}
.skills .skills__container p {
  color: #119539;
  text-align: center;
}
.skills .skills__container img {
  width: 3rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#projects__secondary {
  display: none;
}

#projects h1 {
  font-family: "Montserrat", sans-serif;
  color: #119539;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dbf3e3;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.75rem;
}
.card .card__image {
  width: 100%;
}
.card .card__image-descriptor {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.card .card__header {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #119539;
}
.card .card__paragraph {
  font-size: 1rem;
  font-family: "Hind", sans-serif;
  color: rgb(47, 47, 47);
  padding: 0.5rem;
}
.card .card__button, .card .card__button--secondary {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #119539;
  background-color: white;
  border-radius: 0.75rem;
  border-color: #119539;
  border-width: 0.3rem;
  gap: 0.5rem;
  padding: 0.3rem;
}

header {
  padding-top: 1rem;
}
header h1 {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  color: rgb(47, 47, 47);
  padding: 1rem;
}
header h2 {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #119539;
  padding: 1rem;
}
header .intro__image {
  display: none;
}

@media screen and (min-width: 768px) {
  .intro__image {
    display: unset;
  }
}
.footer {
  width: 100vw;
  height: 13.5rem;
  padding: 3rem 6rem 3rem 6rem;
  background-color: black;
  align-items: center;
}
.footer .footer__images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .footer__email {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
}/*# sourceMappingURL=style.css.map */